<#include "/common/layout.html"/>
<@head>
</@head>
<@body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <a class="logo" href="/">
                ${systemName}
            </a>
            <ul class="layui-nav" lay-filter="">
              <li class="layui-nav-item">
                <a href="javascript:;">admin</a>
                <dl class="layui-nav-child">
                  <dd><a href="">个人信息</a></dd>
                  <dd><a href="/static/login.html">退出</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item x-index"><a href="/">前台首页</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black x-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
            	<#list listMap as menu>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">${menu.icon}</i><cite>${menu.text}</cite>
                    </a>
                    <dl class="layui-nav-child">
                    	<#list menu.items as it>
                        <dd class="">
                            <dd class="">
                                <a href="javascript:;" _href="${it.url}">
                                    <cite>${it.text}</cite>
                                </a>
                            </dd>
                        </dd>
                        </#list>
                    </dl>
                </li>
                </#list>
                <li class="layui-nav-item" style="height: 30px; text-align: center">
                </li>
            </ul>
        </div>

    </div>
    <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
        <div class="x-slide_left"></div>
        <ul class="layui-tab-title">
            <li class="layui-this">
               	 我的桌面
                <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
            </li>
        </ul>
        <div class="layui-tab-content site-demo site-demo-body">
            <div class="layui-tab-item layui-show">
                <iframe frameborder="0" src="/welcome.html" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
    <div class="site-mobile-shade">
    </div>
    <div class="layui-footer">
	<!-- 底部固定区域 -->
 	© layui.com - 万颗商城 , 甘肃米粒电子商务有限公司
	</div>
   </div>
</@body>
<@footer>
    <script src="/static/js/x-admin.js"></script>
</@footer>