<#include "/common/layout.html"/>
<@head>
</@head>
<@body>
	<div class="x-body">
        <form class="layui-form layui-form-pane" action="/role/doAdd">
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" id="L_title" name="roleName" lay-verify="required" placeholder="请输入用户名"
                    autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane>
			    <label class="layui-form-label">状态</label>
			    <div class="layui-input-block">
			      <input type="checkbox" name="state" lay-skin="switch" lay-text="启用|禁止" checked>
			   </div>
	 		</div>
	 		<div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">描述</label>
			    <div class="layui-input-block">
			      <textarea name="roleDesc" placeholder="请输入描述"  class="layui-textarea"></textarea>
			   </div>
	 		</div>
		    <div class="layui-form-item">
		    	<div class="layui-input-block">
		      		<button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
		      		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    	</div>
		  </div>
        </form>
    </div>
</@body>
<@footer>
<script src="/static/js/x-form.js" charset="utf-8"></script>
</@footer>